@media screen and (min-width: 800px) {
  .greeting-h2 {
    margin-left: 10%;
  }

  .home-img {
    max-width: 800px;
  }

  #search-img-1,
  #search-img-2 {
    max-width: 500px;
  }

  .searched-li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .searched-img {
    max-width: 400px;
  }

  div.my-place-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  img.saved-img {
    max-width: 500px;
    margin-right: 1rem;
  }

  div.saved-info {
    max-width: 400px;
  }
}
