@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
  font-family: 'Comic Neue', cursive;
}

.home-page-view {
  display: flex;
  justify-content: left;
  padding-left: 3rem;
  background-color: #00203F;
  color: #ffffff;
}

.header-h2 {
  margin-right: 3rem;
}

.header-search-icon {
  margin-left: 3rem;
  margin-top: 1.4rem;
  font-size: 1.5rem;
}

main {
  background-color: #C9F3E1;
  color: #00203F;
}

.main-h2-and-img-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  margin-right: 8.5rem;
  margin-bottom: 1.5rem;
}

.main-img {
  width: 95%;
  border-radius: 20px;
  margin-bottom: 2.5rem;
}

.main-two-btns-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-first-btn {
  margin-bottom: 2rem;
}

.main-first-btn button {
  display: flex;
  font-size: 22px;
}

.main-btn-search-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.main-second-btn {
  margin-bottom: 3rem;
}

.main-second-btn button {
  font-size: 22px;
}

.main-first-btn button,
.main-second-btn button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #00203F;
  color: #ffffff;
  transition: background-color 0.7s ease-in-out;
}

.main-first-btn button:hover,
.main-second-btn button:hover {
  cursor: pointer;
  background-color: rgb(88, 119, 204);
}

.main-first-btn button:focus,
.main-second-btn button:focus {
  outline: none;
}

/* .main-first-btn button:active,
.main-second-btn button:active {

} */

footer {
  background-color: #00203f;
  color: #ffffff;
  padding: 1.2rem 0;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
  color: #C9F3E1;
}

.fas:first-child {
  color: #ffffff;
}

/* .hidden {
  display: none;
} */

.search-page-view.hidden {
  display: flex;
  justify-content: center;
  background-color: #00203F;
  color: #ffffff;
}

#input-search {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 5px 0;
  border-radius: 15px;
}

/* #input-search::placeholder {
  justify-content: center;
} */
