body {
  font-family: 'Jaldi', sans-serif;
  background-color: #f0f0f0;
}

/* Home Page styling !!!!!!!!!!!!!!!!!!!!!!!!!! */

.home-header,
.search-header {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.header-search-icon {
  cursor: pointer;
  margin-top: 1.3rem;
  font-size: 1.5rem;
}

.home-header,
.header-h2,
.greeting-h2 {
  color: #ff4a2a;
}

.greeting-home {
  margin-left: 3rem;
}

.home-image {
  display: flex;
  justify-content: center;
}

.home-img {
  width: 95%;
  border-radius: 20px;
  margin-bottom: 2.5rem;
}

.home-two-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-first-btn button {
  display: flex;
}

.home-first-btn button,
.home-second-btn button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #ff4a2a;
  color: #f1f1f1;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
}

.home-first-btn,
.home-second-btn {
  margin-bottom: 2rem;
}

.home-btn-search-icon {
  margin-right: 1rem;
}

.home-first-btn button:hover,
.home-second-btn button:hover {
  background-color: #00203f;
}

.home-first-btn button:focus,
.home-second-btn button:focus {
  outline: none;
}

.home-footer {
  display: flex;
  justify-content: space-around;
  font-size: 2.2rem;
  padding: 0.6rem 0;
  background-color: #fff;
  color: #d2cdc9;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-home-icon,
.footer-plus-icon,
.footer-album-icon {
  cursor: pointer;
}

.footer-home-icon:hover,
.footer-plus-icon:hover,
.footer-album-icon:hover {
  transform: translateY(0.25rem);
}

/* Search Page styling !!!!!!!!!!!!!!!!!!!!!!!!!! */

.search-bar {
  position: relative;
}

#input-search {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 15px;
  border-style: none;
  font-size: 1.2rem;
  margin: 1.2rem 0;
  padding: 12px 30px;
}

.search-icon-btn {
  position: absolute;
  top: 2rem;
  right: 3.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#input-search:focus {
  outline: none;
  color: #ff4a2a;
}

.search-h2-and-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-icon-btn,
#input-search::placeholder,
.greeting-search-h2 {
  color: #ff4a2a;
}

#search-img-1 {
  margin-bottom: 2.5rem;
}

#search-img-1,
#search-img-2,
.searched-img {
  width: 95%;
  border-radius: 20px;

  /* margin-bottom: 1.5rem; */
}

/* Search Result Page styling !!!!!!!!!!!!!!!!!!!!!!!!!! */

.search-result {
  display: flex;
  margin-left: 2rem;
}

.search-result-h2 {
  color: #ff4a2a;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.searched-ul {
  margin: 0;
  padding: 0;
}

.searched-li {
  list-style: none;
}

.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-page:last-child {
  margin-bottom: 6rem;
}

.result-h2-and-add-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.photographer-h2 {
  color: #00203f;
  margin-left: 2rem;
}

.searched-img {
  max-height: 50vh;
}

.add-icon-btn {
  background-color: #00203f;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: 1.1rem 0.5rem;
  margin-right: 2rem;
  padding: 0 1rem;
  transition: background-color 0.7s ease-in-out;
}

.add-icon-btn:hover {
  background-color: #ff4a2a;
  transform: translateY(0.25rem);
}

.add-icon-btn:focus {
  outline: none;
}

.add-icon-btn:active {
  transform: translateY(0.25rem);
}

.result-page:first-child > .result-h2-and-add-icon > .photographer-h2,
.result-page:first-child > .result-h2-and-add-icon > .add-icon-btn {
  margin-top: 0.3rem;
}

/* Search Result Page styling !!!!!!!!!!!!!!!!!!!!!!!!!! */

/* Edit modal form styling !!!!!!!!!!!!!!!!!!!!!!!!!! */

.modal-container,
.edit-modal-container {
  position: fixed;
  top: 21%;
  left: 7%;
  width: 85vw;
}

.modal-form,
.edit-modal-form {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 5px 20px 20px;
}

.modal-h2-and-btn,
.edit-modal-h2-and-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-no-btn,
.edit-modal-no-btn {
  background-color: transparent;
  border: none;
}

.modal-no-btn > .fas,
.edit-modal-no-btn > .fas {
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.7s ease-in-out;
}

.modal-labels,
.edit-modal-labels {
  display: flex;
  flex-direction: column;
}

.modal-form-save {
  display: flex;
  justify-content: flex-end;
}

.edit-modal-form-save {
  display: flex;
  justify-content: space-between;
}

.modal-name,
.modal-description,
.edit-modal-name,
.edit-modal-description {
  font-weight: 700;
}

#picture-name,
#picture-description,
#edit-name,
#edit-description {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 5px 5px 10px #d2cdc9;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #00203f;
}

#picture-name::placeholder,
#picture-description::placeholder {
  color: #00203f;
}

.modal-add-btn,
.edit-modal-save-btn {
  background-color: #00203f;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
}

.edit-modal-delete-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.edit-modal-delete-btn > .fas {
  transition: color 0.7s ease-in-out;
}

.modal-h2-and-btn,
.modal-no-btn > .fas,
.modal-labels,
.edit-modal-h2-and-btn,
.edit-modal-no-btn > .fas,
.edit-modal-labels,
.edit-modal-delete-btn > .fas {
  color: #00203f;
}

.modal-no-btn > .fas:hover,
.edit-modal-no-btn > .fas:hover,
.edit-modal-delete-btn > .fas:hover {
  color: #ff4a2a;
  transform: translateY(0.25rem);
}

#picture-name:focus,
#picture-description:focus,
.modal-no-btn > .fas:focus,
.modal-add-btn:focus,
#edit-name:focus,
#edit-description:focus,
.edit-modal-no-btn > .fas:focus,
.edit-modal-save-btn:focus {
  outline: none;
}

.modal-add-btn:hover,
.edit-modal-save-btn:hover {
  background-color: #ff4a2a;
}

/* Search Result Page styling !!!!!!!!!!!!!!!!!!!!!!!!!! */

.my-place {
  display: flex;
}

.my-place-h2 {
  color: #ff4a2a;
  position: relative;
  left: 15%;
  margin: 0.8rem 0;
}

.my-place-ul {
  margin: 0;
  padding: 0;
}

.my-place-li {
  list-style: none;
}

.my-place-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-place-page:last-child {
  margin-bottom: 5rem;
}

.saved-img {
  width: 95%;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.saved-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.saved-name-h3 {
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: #00203f;
}

.saved-name-h3,
.saved-name-p,
.saved-description-h3,
.saved-description-p {
  padding: 4px;
  color: #00203f;
  margin: 0;
}

.saved-name-p,
.saved-description-p {
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #d2cdc9;
  background-color: #fff;
}

.saved-name-p {
  margin-bottom: 1rem;
}

.saved-description-p {
  margin-bottom: 2rem;
}

/* hidden and on class !!!!!!!!!!!!!!!!!!!!!!!!!! */

.hidden {
  display: none;
}

.on {
  color: #ff4a2a;
}
